<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ice Insignia</title>
    <link rel = "stylesheet" href = "/static/css/login.css">
</head>
<body>
    <div class="rules">
      <p>The goal of Ice Insignia is simple, defeat your foe in the field of battle. <br><br>
      To do this you have several different fighters to work with. Try and build a team that works well together!</p>
    </div>
    <table align="center">
      <tr class="buttons">
        <td>
            <form action="/">
                <input type="submit" value="Home" />
            </form>
        </td>
        <td>
            <form action="registration">
                <input type="submit" value="Register" />
            </form>
        </td>
        <td>
            <form action="login">
                <input type="submit" value="Play Now" />
            </form>
        </td>
      </tr>
    </table>
</body>
</html>