<!DOCTYPE html>
<html>
<head>
  <title>Ice Insignia</title>
  <link rel = "stylesheet" href = "/static/css/home.css">
</head>
<body>
  <h1 id='ice' style = "text-align: center;">ICE INSIGNIA</h1>
  <div>
    <table id = "images">
      <tr>
        <td><img src="/static/sprites/GraField.png" width="275" height="275"><br></td>
      </tr>
      <tr>
        <td> <img src="/static/sprites/DesField.png" width="275" height="275"><br></td>
      </tr>
      <tr>
        <td><img src="/static/sprites/IceField.png" width="275" height="275"><br></td>
      </tr>
    </table>
    <table id="classTable">
      <tr class="class">
        <td>
          <div id="Warrior"><span>WARRIOR</span>
            <p class="hover-content">
              <img src="/static/sprites/tank.gif" width="40" height="40">
                The Warrior is a tank. It can take whatever the enemy throws at it and give it right back.
                <table id = "WarStats" class="hover-content">
                  <tr>
                    <td>Health</td><td>Strength</td><td>Defense</td><td>Intellect</td><td>Movement</td><td>Range</td>
                  </tr>
                  <tr>
                    <td>150</td><td>20</td><td>60</td><td>0</td><td>6</td><td>1</td>
                  </tr>
                </table>
            </p>
          </div>
        </td>
      </tr>
      <tr class="class">
        <td>
          <div id="Swordsman">SWORDSMAN
            <p class="hover-content">
              <img src="/static/sprites/swordsman.gif" width="40" height="40">
                Every fight needs those who are willing to get up close with the enemy. The Swordsman is willing and able to do great damage.
                <table id = "SwoStats" class="hover-content">
                  <tr>
                    <td>Health</td><td>Strength</td><td>Defense</td><td>Intellect</td><td>Movement</td><td>Range</td>
                  </tr>
                  <tr>
                    <td>100</td><td>30</td><td>35</td><td>0</td><td>6</td><td>1</td>
                  </tr>
                </table>
              </p>
            </div>
          </td>
        </tr>
      <tr class="class">
        <td>
          <div id="Druid">DRUID</span>
            <p class="hover-content">
              <img src="/static/sprites/druid.gif" width="40" height="40">
                The Druid is can do it all. A powerful close range attack with a respectable range attack. Don't let them catch you off guard.
                <table id = "DruStats" class="hover-content">
                  <tr>
                    <td>Health</td><td>Strength</td><td>Defense</td><td>Intellect</td><td>Movement</td><td>Range</td>
                  </tr>
                  <tr>
                   <td>110</td><td>50</td><td>35</td><td>25</td><td>5</td><td>3</td>
                  </tr>
                </table>
            </p>
          </div>
        </td>
      </tr>
      <tr class="class">
        <td>
          <div id="Priest">PRIEST</span>
            <p class="hover-content">
              <img src="/static/sprites/priest.gif" width="40" height="40">
                The Priest is a Godsend. It doesn't believe in fighting, but it will protect its own anyway it can. It provide huge healing bennefits.
                <table id = "PriStats" class="hover-content">
                  <tr>
                    <td>Health</td><td>Strength</td><td>Defense</td><td>Intellect</td><td>Movement</td><td>Range</td>
                  </tr>
                  <tr>
                    <td>75</td><td>5</td><td>30</td><td>40</td><td>5</td><td>4</td>
                  </tr>
                </table>
            </p>
          </div>
        </td>
      </tr>
      <tr class="class">
        <td>
          <div id="Mage">MAGE</span>
            <p class="hover-content">
              <img src="/static/sprites/mage.gif" width="40" height="40">
                The Mage is a pure long range fighter. It can hit hard from a safe distance away.
                <table id = "MagStats" class="hover-content">
                  <tr>
                    <td>Health</td><td>Strength</td><td>Defense</td><td>Intellect</td><td>Movement</td><td>Range</td>
                  </tr>
                  <tr>
                    <td>80</td><td>5</td><td>30</td><td>60</td><td>5</td><td>3</td>
                  </tr>
                </table>
            </p>
          </div>
        </td>
      </tr>
      <tr class="buttons">
        <td>
          <form action="howtoplay">
            <input type="submit" value="Rules" />
          </form>
        </td>
        <td>
          <form action="registration">
            <input type="submit" value="Register" />
          </form>
        </td>
        <td>
          <form action="login">
            <input type="submit" value="Play Now" />
          </form></td>
      </tr>
    </table>
  </div>
</body>
</html>
