<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ice Insignia</title>
 	<link rel="stylesheet" href="../static/css/lobby.css"/>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
 	<script src="/static/js/lobby.js"></script>
</head>

<body>
	<div id="userListWrapper">
		<div id="onlineUsers_Div"><p>Who's Online?<p></div>
		<div id="userList" class="vertical-menu">
		</div>
		<button type="button" id="sendChallenge">Challenge</button>
	</div>

	<div id="textLogWrapper">
		<textarea readonly rows="56" cols="50" id="textLog" wrap="hard" disabled>
		</textarea>
		<input id="textBox">
		<button type="button" id="sendMess">send</button>
	</div>
</body>
</html>
